@import "./helpers/_imports.css";

header {
    width: 100%;
    height: 10vh;
    /* background: dodgerblue; */
    padding: 0 10vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-head > h2 {
    font-size: 2rem;
    color: var(--text);
}

nav > ul > li {
    display: inline-block;
    margin-left: 3.5vw;
}

nav > ul > li > a, nav > ul > li > a:visited  {
    color: var(--text);
    text-decoration: none;
}

nav > ul > li:last-child > a, .button-link {
    box-sizing: border-box;
    padding: 8px 30px;
    background-color: #02ccba;
    color: var(--background);
    border-radius: 5px;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    transition: all 0.4s;
}

nav > ul > li:last-child > a:hover, .button-link:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    color: var(--background);
    text-decoration: none;
}


main, #footer-container {
    min-width: 480px;
    width: 85%; 
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 10vh 0;
}

.heading {
    margin-bottom: 15px;
    color: var(--text);
}

.sub-heading {
    color: var(--theme);
    font-size: 18px;
    margin-bottom: 50px;
}

#main-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    flex: 0 1 23%;
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: var(--live);
    border-radius: 5%;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.32);
    transition: all 0.4s;
    cursor: pointer;
}

.box:hover {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.box > a {
    color: white;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 40vh;
    width: 100%;
    background-color: #eee;
}

#footer-container {
    padding: 50px 0 0 0;
    position: relative;
}

#footer-left, #footer-right {
    display: inline-block;
}

#footer-left {
    float: left;
}

#footer-right {
    float: right;
}

#claim {
    margin-top: 25vh;
    font-size: 10px;
}

.support-links {
    margin-bottom: 15px;
}

.support-links > p {
    display: inline-block;
    margin-right: 50px;
}

.support-links > a {
    display: inline-block;
    height: 40px;
    width: 100px;
    padding: 0;
    padding-top: 10px;
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    main {
        width: 100%;
    }
}