.open-source-card {
	min-width: 150px;
	min-height: 100px;
	background: #c79aaa;
	border-radius: 3px;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
	width: 40%;
	margin: 40px;
	margin-top: 60px;
	float: left;
	color: white;
	transition: all 0.2s;
}
.upper{
	background-image: url('../../assets/images/code.jpg');
	min-height: 150px;
}

.open-source-card:hover {
	transform: scale(1.02);
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
}

.container {
    padding: 10px 20px;
}

.open-source-card h3 {
	color: #ffffff;
	font-size: 30px;
	padding: 40px;
	font-family: monospace;
	text-decoration: none;
}

.open-source-card hr {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 5px;
}

.open-source-card .des {
	display: inline-block;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.93);
}

a {
	text-decoration: none;
}

.open-source-card span {
	display: block;
	font-weight: 600;
	text-decoration: none;
}

.open-source-card span:first-child {
	margin-top: 7px;
}

@media only screen and (max-width: 600px) {
	.open-source-card {
		min-width: 0;
		margin: 20px auto;
		width: 75%;
		float: none;
		font-size: 15px;
		padding : 1px
	}
}