.meetups-card {
	min-width: 350px;
	background: #3c0404b5;
	padding: 5px;
	border-radius: 3px;
	width: 75%;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
	margin: 30px;
    user-select: text;
	color: white;
	transition: all 0.2s;
}

.meetups-card:hover {
	transform: scale(1.05);
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
}

.meetups-card h2 {
	color: #fff;
	text-align: center;
	padding: 15px;
	background: #3c0404b5;   
}

.des-url{
	color: #fff;
	text-align: center;
	padding: 15px;
	background: #3c040441;
    text-decoration: none;   
}
.des-url:hover {
	background: rgb(93, 62, 62);
	color: #000;
}

.meetups-card hr {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}

.meetups-card .des-sp {
	display: inline-block;
    font-weight: bold;
	color: rgba(255, 255, 255, 0.733);
}

a {
	text-decoration: none;
}

.meetups-card span {
	display: block;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    margin: 4px;
}

@media only screen and (max-width: 480px) {
	.meetups-card {
		min-width: 0;
		margin: 20px auto;
		width: 75%;
		float: none;
		padding: 10px;
	}
}