.newarrival-card {
	min-width: 40%;
	background: #f3f3f3;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
	align-content: center;
    user-select: text;
	color: white;
	margin : 10px;
	transition: all 0.2s;
}

.newarrival-card:hover {
	transform: scale(1.05);
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
}

.item-header-container{
	background : #55a9fd;
	display: flex;
	max-width: 100%;
}

.item-title{
	color: #fff;
	text-align: center;   
}
.item-share{
	float: right;
	margin-right: 0%;
}
.item-star{
	float: right;
}

.des-url{
	background : #8d8cd3;
	color: #fff;
	text-align: center;
	padding: 15px;
}
.des-url:hover {
	background: #27314d;
	color: #000;
}

.newarrival-card hr {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}

.newarrival-card .des-sp {
	display: inline-block;
    font-weight: bold;
	color: #000;
}

a {
	text-decoration: none;
}

.newarrival-card span {
	display: block;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    margin: 4px;
}

@media only screen and (max-width: 480px) {
	.newarrival-card {
		margin: 10px auto;
		min-width: 0;
		width: 75%;
		float: none;
	}

}