@import url('https://fonts.googleapis.com/css?family=Paytone+One');

.loader-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.loader {
    font-family: monospace;
    font-weight: 900;
    font-size: 1rem;
    color: white;
    letter-spacing: 0.8vw;
}

.loader img {
    width: 7vw;
    animation: rotate 2s forwards infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader p {
    margin-top: 2vh;
}
