.lost {
    min-height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lost-message {
    padding: 2vh 3vw;
    box-sizing: border-box;
    background: #595a5b;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.16);
    text-align: center;
    color: white;
}

.lost-message h2 {
    margin-bottom: 20px;
    color: #f67676;
}

.lost-message a {
    color: #99cffe;
}

@media only screen and (max-width: 1023px) {
    .lost {
        min-height: 75vh;
    }
}