#landing-page-container {
    width: 100%;
    top: 0;
    left: 0;
}

.background-svg-1 {
    height: 60vh;
    position: fixed;
    top: 20%;
    right: 7%;
}

.background-svg-2 {
    height: 75vh;
    position: fixed;
    z-index: -1;
    bottom: 0;
    right: 0;
}

#special-container {
    margin-top: 17vh;
    margin-left: 10vw;
}

#special-container h1 {
    font-size: 2.5vw;
}

#special-container p {
    font-size: 1.5vw;
    margin-top: 2vh;
    font-weight: 500;
    color: var(--theme);
}

#special-container div {
    margin-top: 4vh;
    font-size: 1.4vw;
    font-weight: bold;
    z-index: 10;
    max-width: 13vw;
}

#special-container div a {
    text-decoration: none;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear,left top, left bottom,from(#fca15a),to(#f587b0));
    background: -webkit-linear-gradient(#fca15a,#f587b0);
    background: -o-linear-gradient(#fca15a,#f587b0);
    background: linear-gradient(#fca15a,#f587b0);
    height: 4vw;
    border-radius: 10vw;
    -webkit-box-shadow: 2px 8px 22px rgba(0, 0, 0, 0.16);
            box-shadow: 2px 8px 22px rgba(0, 0, 0, 0.16);
}


@media only screen and (max-width: 768px) {
    .background-svg-1{
        width: 70vw;
        height: auto;
        top: 50vh;
        left: 50%;
        margin-left: -35vw;
    }

    .background-svg-2 {
        width: 100vw;
        height: auto;
    }

    #landing-page-container {
        text-align: center;
    }

    #special-container {
        margin-top: 14vh;
        margin-left: 0;
    }
    
    #special-container h1 {
        font-size: 3.5vh;
    }

    #special-container p {
        font-size: 2vh;
    }

    #special-container div {
        font-size: 1.7vh;
        margin: 4vh auto;
        max-width: 15vh;
    }

    #special-container div a {
        height: 5vh;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .background-svg-1 {
        display: none;
    }

    .background-svg-2 {
        width: 100vw;
        height: auto;
    }

    #special-container h1 {
        font-size: 2.5vw;
    }

    #special-container p {
        font-size: 1.5vw;
        color: black;
    }

    #special-container div {
        font-size: 1.4vw;
        margin: 4vh auto;
        max-width: 12vw;
    }

    #special-container div a {
        height: 4vw;
    }
}