#sectionOne-container {
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 14%;
    min-height: 0vh;
}

@media only screen and (orientation: portrait) and (max-width: 768px) {
    
    #sectionOne-container {
        text-align: center;
        min-height: 70vh;
    }

   
}

.scroll-div{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.scroll-btn{
    vertical-align:top;
    margin-top:5vw;
    width:4vw;
    height:2vw;
    cursor:pointer;
    border-radius: 50px;
    border: 2px solid white;
    background: transparent;
    transform:rotate(7deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
}

i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down{
    margin-left:40%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#get-started{
    margin-left: 41%;
    font-size: 1.4vw;
    font-weight: bold;
    z-index: 10;
    max-width: 13vw;
    padding-bottom: 5vw;
}

#get-started a{
    text-decoration: none;
    color: #353A43;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 5vw;
    border-radius: 5px;
    border: 2px solid #353A43;
}

@media only screen and (max-width: 480px) {

    #get-started{
        font-size: 2.4vw;
        margin-left: 36vw;
    }

    #get-started a{
        width: 30vw;
    }
}

@media only screen and (min-width: 760px) and (max-width: 1030px){

    .scroll-div{
        top: 60%;
    }
}