.padding-container{
  padding-top: 5%;
  padding-bottom: 5%;
}

.featured{
    color: white;
    width: 23%;
    height:4vw;
    margin: 0 auto;
    background: #353A43;
    text-align: center;
}

.featured h3{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.features{
    padding-top: 8%;
    width: 70%;
    height: 4vw;
    margin: 0 auto;
    text-align: center;
}

.features div{
  width: 25%;
  display: inline-block;
}

h2{
    color: #e43213;
}

.features h2:hover{
   transform: scale(1.8);
}

@media only screen and (max-width: 960px) {
    .padding-container{
      padding-bottom: 10%;
    }
    }
    
    @media only screen and (max-width: 480px) {
    
      .featured{
        width: 45%;
        height: 10vw;
      }

      .features h2{
          padding: 10px;
      }
    
      .padding-container{
        padding-bottom: 25%;
      }
    }