.padding-container{
  padding-top: 5%;
  padding-bottom: 5%;
}

.featured-title{
    color: white;
    width: 23%;
    height:4vw;
    margin: 0 auto;
    background: #13161C;
    text-align: center;
}

.featured-title h3{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.features{
    padding-top: 8%;
    width: 100%;
    margin: 0 auto;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;

}

.feature-item-card{
    font-style: initial;
    vertical-align: middle;
    font-weight: 400;
    height: fit-content;
    border-radius: 2px;
    padding: 2px;
    border: #888e9e 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.feature-url{
   font-style: initial;
    vertical-align: middle;
    font-weight: 400;
    height: fit-content;
    border-radius: 5px;
    padding: 2px;
    border: #9c9c9c 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.feature-item-card img{
  width: 100%;
}

.feature-heading-container{
  text-align: center;
  padding: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
   
}

.feature-item-card:hover{
   transform: scale(1.02);
}

.features div{
  width: 25%;
}

@media only screen and (max-width: 960px) {
    .padding-container{
      padding-bottom: 10%;
    }
    }
    
    @media only screen and (max-width: 480px) {
    
      .featured-title{
        width: 45%;
        height: 10vw;
      }

      .features div{
        width: 75%;
      }

      .feature-item-card{
        margin-top: 20px;
      }
      

      .features{
        display: flex;
        margin: 2em;
       
        justify-content: center;
        margin: 0 auto;
    }

    .feature-item{
      margin-top: 3em;
  }
  

      .padding-container{
        padding-bottom: 25%;
      }
    }