
.author-individual a {
    text-decoration: none;
    color: #262626;
}
  
.author-individual a:hover {
    color: #678;
}
  
.author-individual{
    overflow: auto;
    display: flex;
    flex-direction: row;
    background-color:#fbf9f9;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 4em; */
    border-radius: 10px;
    min-height: 120px;
    border: #c3c3c3 0.5px solid;
    width : 56.5%;
    margin-bottom: 2%;
    position: relative;
}
  
.author-individual:hover{
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}
  
.author-data{
    min-width: 60%;
    word-wrap: whitespace;
    padding: 2%;
    display: flex;
    flex-direction: column;
}
  
.author-title{
    text-align: left;
    padding-top:2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
  
.author-bio{
    font-size: 12pt;
    margin-top: 10px;
    color: #4e4040;
    text-align: left;
}
  
.author-img{
    float: initial;
    border-radius: 95px;
    padding: 15px;
    width: 150px;
    height: 150px;
}
  
.author-social{
    display: flex;
    justify-content: inherit;
    margin-top: 1em;
    bottom: 0%;
}

.fab{
    padding: 10px;
}
  
.author-tag{
    background: #fff;
    padding: 3px;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    border-radius: 3px;
    border:#262626 solid 1.5px;
}
  
.author-tag:hover{
    background: #fbe47b;
}
  
  
@media only screen and (max-width: 480px) {
    .author-individual{
        width: 95%;
        margin-bottom: 5%;
        margin-left: 0.5em;
    }
  
    .author-tag{
        left: 2%;
        background: #eff1ec;
        padding: 2px;
        font-size: 12px;
        border-radius: 4px;
        border:#262626 solid 1.5px;
    }
  
    .author-img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
    
    .author-social{
        margin-top: 0px;
    }
  
    .author-data{
        padding: 4%;
    }
  
    .author-individual{
        margin-top: 4%;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
      .author-individual{
          width: 70%;
        }
  }