.link-button, .link-button:visited {
    cursor: pointer;
    position: relative;
    padding: 15px 40px;
    border-radius: 10vw;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    transition: all 0.4s;
    text-decoration: none;
    text-align: center;
    color: white;
    background: var(--light-green);
    font-weight: bold;
}

.link-button:hover, .link-button:focus {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.25);
}

@media only screen and (min-width: 2000px) {
    .link-button {
        padding: 1vw 3vw;
        border-radius: 2vw;
    }
}

@media only screen and (max-width: 768px) {
    .link-button {
        padding: 8px 25px;
    }
}