.events-page-container {
	width: 90%;
	margin: 0 auto;
	margin-top: 3vh;
	display:flow-root;
	flex-direction: column;
	position: relative;
	min-height: 70vh;
}

#meetups {
	margin-bottom: 10%;
	width: 50%;
}

#meetups hr {
	margin-bottom: 20px;
}

h1{
	padding: 10px;
}

@media only screen and (max-width: 768px) {
	.events-page-container h1 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 480px) {
	.events-page-container {
		width: 100%;
	}

	.events-page-container h1 {
		padding-left: 25px;
	}
	#meetups {
		margin-bottom: 10%;
		width: 100%;
	}
}