.newarrival-container {
	width: 100%;
	right: 0%;
	margin: 10px auto;
	position: relative;
}

#new-arrival {
	display: flex;
	flex-wrap: wrap;
}

#new-arrival hr {
	margin-bottom: 20px;
}

.section-heading{
	margin: 15px;
	padding: 15px;
}

@media only screen and (max-width: 768px) {
	.newarrival-container h1 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 480px) {
	.newarrival-container {
		width: 100%;
	}
	
	#new-arrival {
		margin-bottom: 10%;
		width: 100%;
	}
}