.newarrival-container {
	width: 100%;
	right: 0%;
	margin: 10px auto;
	font-size: 16px;
	position: relative;
}

#new-arrival {
	margin: 40px;
	display: flex;
	flex-wrap: wrap;
	margin: 25px;
}

#new-arrival hr {
	margin-bottom: 20px;
}

.section-heading{
	margin-left: 2em;
	margin-top: 1em;
	padding: 15px;
}

@media only screen and (max-width: 768px) {
	.newarrival-container h1 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 480px) {
	.newarrival-container {
		width: 100%;
	}

	#new-arrival {
		margin: 0 auto;
		width: 100%;
	}
	.section-heading{
		margin-left: 0px;
		text-align: left;
		padding: 15px;
	}
	
}