.padding-container{
  padding-top: 5%;
  padding-bottom: 5%;
}

.user-thoughts{
    color: white;
    width: 23%;
    height:4vw;
    margin: 0 auto;
    background: #13161C;
    text-align: center;
}

.user-thoughts h3{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@media only screen and (max-width: 960px) {
.padding-container{
  padding-bottom: 10%;
}
}

@media only screen and (max-width: 480px) {

  .user-thoughts{
    width: 45%;
    height: 10vw;
  }

  .padding-container{
    padding-bottom: 25%;
  }
  
}