#hamburger-menu {
    position: relative;
    min-width: 27px;
    min-height: 15px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: var(--black);
    position: absolute;
}

.bar:first-child {
    top: 0;
}

.bar:nth-child(1) {
    top: 50%;
    margin-top: -1.5px;
}

.bar:last-child {
    bottom: 0;
}

@media only screen and (min-width: 768px) {
    #hamburger-menu {
        display: none;
    }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
    #hamburger-menu {
        display: block;
    }
}