.newarrival-card {
	min-width: 35%;
	background: #ffff;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
	align-content: center;
    user-select: text;
	margin-left: 10em;
	border-radius: 5px;
	margin-top: 5em;
	transition: all 0.4s;
}

.newarrival-card:hover {
	transform: scale(1.03);
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
}

.item-content{
	display: flex;
	justify-content: space-between;
}

#item-des{
	margin-left: 2em;
	padding: 2px;
}

#item-res{
	margin-right: 5em;
}

.item-title{
	color: #fff;
	background : #559fe9;
	padding: 15px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.item-share{
	float: right;
	position: initial;
}
.item-star{
	float: right;
}

.des-url{
	background : #8d8cd3;
	color: #fff;
	text-align: center;
	padding: 15px;
}
.des-url:hover {
	background: #27314d;
	color: #000;
}

.newarrival-card hr {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
}

.newarrival-card .des-sp {
	display: inline-block;
	color: #000;
	font-size: 12px;
}

a {
	text-decoration: none;
}

.newarrival-card span {
	display: block;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
    margin: 4px;
}

@media only screen and (max-width: 480px) {
	.newarrival-card {
		margin: 10px auto;
		min-width: 0;
		max-width: 100%;
		width: 75%;
		float: none;
	}
	#item-des{
		margin-left: 1em;
	}
	
	#item-res{
		margin-right: 2em;
	}
}