.cards-container {
    width: 95%;
    margin: 7vh auto;
    text-align: left;
    padding-left: 2%;
}

@media only screen and (max-width: 768px) {
    .cards-container {
        margin: 4vh auto;
        padding-left: 0;
        width: 70vw;
    }
}