#special-container {
    margin-top: 24vh;
    margin-left: 10vw;
    z-index: 10;
}

#special-container h1 {
    color: white;
    font-size: 3.5vw;
}

#special-container p {
    font-size: 2vw;
    margin-top: 5vh;
    margin-left: 10vh;
    color: white;
}

#special-container div {
    margin-top: 8vh;
    margin-left: 15vh;
    font-size: 1.4vw;
    font-weight: bold;
    z-index: 10;
    max-width: 13vw;
}

#special-container div a {
    text-decoration: none;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20vw;
    height: 5vw;
    border-radius: 5px;
    border: 2px solid white;
}

@media only screen and (orientation: portrait) and (max-width: 768px) {

   #special-container {
        margin: 0 auto; 
        margin-top: 14vh;
    }
    
    #special-container h1 {
        font-size: 3.5vh;
        max-width: 80%;
        margin: 0 auto;
    }

    #special-container p {
        font-size: 2vh;
        margin-left: 0;
    }

    #special-container div {
        font-size: 1.7vh;
        margin: 4vh auto;
        max-width: 15vh;
    }

    #special-container div a {
        height: 5vh;
        width: 30vw;
    }

}


.background-svg-10{
    background: #353A43;
    /* width: 100%; */
    max-width: 77%;
    /* height: 83.8%; */
    height: 99.8%;
    position: absolute;
    z-index: -1;
    max-height: 99%;
    top: 0;
    bottom: 0;
    /* right: 65vw; */
    right: 64.5vw;
}

.background-svg-20{
    max-width: 97%;
    position: absolute;
    z-index: -1;
    max-height: 99%;
    top: 0;
    /* bottom: 0; */
    left: 34.5vw;
    background: #353A43;
}

@media only screen and (max-width: 1140px) {
    .background-svg-10{
        height: 74.5%;
    }
    .background-svg-20{
        left: 34.9vw;
    }
}

@media only screen and (max-width: 1024px) {
    .background-svg-10{
        height: 74.5%;
    }
    .background-svg-20{
        left: 1.9vw;
    }
}

.scroll-div{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.scroll-btn{
    vertical-align:top;
    margin-top:5vw;
    width:4vw;
    height:2vw;
    cursor:pointer;
    border-radius: 50px;
    border: 2px solid white;
    background: transparent;
    transform:rotate(7deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
}

i{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down{
    margin-left:40%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* edits */

div#sectionOne-container:after {
    content: ' ';
    position: absolute;
    background: linear-gradient(49deg,#3f434b 28%,#363a42 0%,#363a42 68.5%,#3f434b 0%);
    height: 97vh;
    width: 100%;
    top: 0;
	left: 0;
	z-index: -100;
}