.team_heading{
	background: #4664a1;
	color: #fff;
	padding: 1.5em 0;
	vertical-align: middle;
	text-align: center;
	font-size: 250%;
}
.sub_heading{
	margin: 1em auto;
	width: fit-content;
	border-bottom: 2px double #979797;
	font-family: cursive;
	font-size: 200%;
}
.people_container{
	display: inline;
	max-width: 100vh;
	text-align: center;
	align-content: center;
	justify-content: center;
	align-self: center;
	align-items: center;
	padding: 2em;
}
.person{
	display: inline-block;
	margin: 0 auto 3em 4em;
	text-align: center;
	align-self: center;
	align-content: center;
	justify-content: center;
	justify-self: center;
	align-items: center;
	vertical-align: middle;
	width: fit-content;
	margin-inline-start: 4em;
	padding-left: 7vw;
}
.person>img{
	border: 4pt solid #ddd;
	border-radius: 100% 100%;
	height: 12em;
	width:  12em;
	filter: grayscale(100%)contrast(125%)saturate(150%);
	background: #ddd;
}
.person_name{
	border-radius: 4pt;
	background-color: #ddf0f6;
	padding: .5em .25em;
	width: 75%;
	margin: 1em auto .5em auto;
	color: #0600ff;
	vertical-align: middle;
}
.person_detail{
    border-radius: 4pt;
    width: fit-content;
    margin: auto;
    padding: .2em 1.75em;
	font-size: 11pt;
	color: #000000;
	vertical-align: middle;
}
.about-page-container {
    width: 100%;
    min-height: 55vh;
    text-align: center;
    box-sizing: border-box;
    padding: 5vh 0 10vh 0;
}

.about-container {
    width: 100%;
}

.about-page-container span {
    color: #678;
    display: inline-block;
    margin-top: -30px;
}

.about-p {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 32px;
    font-weight: 300;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #020202;
}
.about-p-title{
    color: #077de0;
    font-weight: 600;
}
.about-us-h1 {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: table-cell;
}
.list-grp{
    margin-left: 30px;
}


@media only screen and (max-width: 640px) {
    .about-container h1 {
        font-size: 1.2em;
        max-width: 90%;
        margin: 0 auto;
    }

    .about-container span {
        margin-top: 0;
    }
    .column {
    width: 100%;
    display: block;
  }
    .about-p {
        max-width: 80%;
    }
}

/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}


/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(60, 160, 20, 0.5);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 4px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
