.startup-programs-card {
	min-width: 350px;
	background: #6fbb2d;
	padding: 20px 30px;
	border-radius: 3px;
	box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
	width: 40%;
	margin: 10px;
	float: left;
	color: white;
	transition: all 0.2s;
}

.startup-programs-card:hover {
	transform: scale(1.02);
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.4);
}

.startup-programs-card h3 {
	color: #262626;
	text-decoration: none;
}

.startup-programs-card hr {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 5px;
}

.startup-programs-card .des-sp {
	display: inline-block;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.4);
}

a {
	text-decoration: none;
}

.startup-programs-card span {
	display: block;
	font-weight: 600;
	text-decoration: none;
}

.startup-programs-card span:first-child {
	margin-top: 7px;
}

@media only screen and (max-width: 480px) {
	.startup-programs-card {
		min-width: 0;
		margin: 20px auto;
		width: 75%;
		float: none;
		padding: 20px;
	}
}