.about-page-container {
    width: 100%;
    min-height: 55vh;
    text-align: center;
    box-sizing: border-box;
    padding: 5vh 0 10vh 0;
}

.about-container h1 {
    background: #303030;
	color: #fff;
	padding: 1em 0;
	vertical-align: middle;
	text-align: center;
    font-size: 250%;
    margin: -20px;
}

.about-page-container span {
    color: #678;
    display: inline-block;
    margin-top: -30px;
}

.about-container .about-p {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 32px;
    font-weight: 300;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #020202;
}
.about-p-title{
    color: #077de0;
    font-weight: 600;
}
.blog-h1 {
    background: #4664a1;
    vertical-align: middle;
}
.list-grp{
    margin-left: 30px;
}


@media only screen and (max-width: 880px) {
    .about-container h1 {
        font-size: 1.2em;
        padding: 1.4em;
        max-width: 90%;
    }

    .about-container span {
        margin-top: 0;
    }

    .about-container .about-p {
        max-width: 90%;
        font-weight: 350;
    }
}