.about-page-container {
    width: 100%;
    min-height: 55vh;
    text-align: center;
    box-sizing: border-box;
    padding: 5vh 0 10vh 0;
}

.about-page-container span {
    color: #678;
    display: inline-block;
    margin-top: -30px;
}

.about-p {
    max-width: 850px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 32px;
    font-weight: 500;
    font-family: inherit;
    color: #556655;
}