#home-page-container {
    padding: 7vh 0;
    text-align: center;
}

.heading {
    margin-bottom: 5px;
    color: var(--black);
    font-size: 2vw;
}

.sub-heading {
    color: var(--theme);
    font-size: 1.12vw;
    max-width: 75vw;
    margin: 17px auto;
}

@media only screen and (max-width: 1024px) {
    .heading {
        margin-bottom: 5px;
        color: var(--black);
        font-size: 5vw;
    }

    .sub-heading {
        font-size: 3vw;
    }
}
