#home-page-container {
    padding: 7vh 0;
    text-align: center;
    color: var(--red);
    border: 1px solid var(--red);
}

.heading {
    margin-bottom: 5px;
    color: var(--black);
    font-size: 2vw;
}

.sub-heading {
    color: var(--theme);
    font-size: 1.5vw;
    margin-bottom: 50px;
    margin-top: 0px;
}

@media only screen and (max-width: 1024px) {
    .heading {
        margin-bottom: 5px;
        color: var(--black);
        font-size: 5vw;
    }

    .sub-heading {
        color: var(--theme);
        font-size: 4vw;
        margin-bottom: 50px;
        margin-top: 0px;
    }
}
