.section-two-container{
  margin-top: 24vh;
}

@media only screen and (min-width: 460px) {

.landing-page-section-2 {
  padding-bottom: 10%;
}

.row-container {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    padding: 10%;
    white-space: nowrap;
    padding-bottom: 4%;
}

.left{
    width: 25%;
    float: left;
}

.center{
  width: 25%;
  margin:0 auto;
  display:inline-block
}

.right{
  width: 25%;
  float: right;
}

}
.landing-page-section-2-image-container {
  width: 100%;
  height: 11vh;
}

.image{
  margin:auto;
  width:5vw;
  position:relative;
  height: auto;
}

.image img{
  width: 5vw;
  position:absolute;
  bottom:0;  
  left:50px;
}

.text p{
  letter-spacing: 1px;
  white-space: normal;
}

.title{
  margin-top: 10%;
  margin-bottom: 10%;
}

@media only screen and (max-width: 960px) {

  .title{
    font-size: 2vw;
  }
  .text p{
    font-size: 2vw;
  }
  .section-two-container {
    margin-top: 26vw;
    margin-bottom: 10vw;
  }
}