@import url('../helpers/_imports.css');

#nav {
    text-align: center;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#back-button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

#back-button:hover, #back-button:focus {
    background: #745fb5;
}

#back-button:hover > #back, #back-button:focus > #back {
    fill: #fff;
}

#back {
    fill: var(--text);
    height: 17px;
    width: 17px;
}

#right {
    display: flex;
    align-items: center;
}

#right > a > img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#right > a:hover {
    opacity: 0.7;
}


/* Contents */
#contents {
    max-width: 850px;
    margin: 0 auto;
    padding: 0px 16px;
}

/* Header */
#header {
    margin: 32px 0px;
    text-align: center;
    color: var(--text);
    font-size: 14px;
}

#header > h1 {
    font-weight: 200;
    font-size: 45px;
}

#header > h1 > span {
    color: #678;
}



@media only screen and (min-width: 480px) and (max-width: 1200px) {

    #nav {
        border-bottom: 1px solid rgba(102,119,136,.3);
    }

    #container {
        height: 55px;
        padding: 0 14px 0 7px;
    }

    #back-button {
        height: 35px;
        width: 35px;
    }
}