.blog-page-container {
    width: 100%;
    min-height: 55vh;
    text-align: center;
    box-sizing: border-box;
    padding: 2vh 0 10vh 0;
}

.blog-container {
    height: 25vh;
    width: 100%;
    min-height: 90%;
    text-align: center;
    display: table;
}

.blog-background{
  background: aliceblue;
}

.blog-h1{
    margin:0;
    padding:0;
    vertical-align:middle;
    display:table-cell; 
}

.blog-list-container{
  padding-top: 2%;
}

.blog-individual{
    overflow: auto;
    display: block;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border: 2px solid #f1e8e8;
    border-radius: 8px;
    width: 40%;
}

.blog-title{
    text-align: left;
    padding-left: 4%;
    padding-top:2%;

}

.blog-author-container{
    text-align: left;
    padding-left: 4%;
    padding-top:5%;
    padding-bottom:2%;
}

.blog-author{
  margin-left: 2%;
}

.blog-date{
  margin-left: 7%;
}

.blog-img{
    float: left;
    padding: 2%;
}

.blog-img img{
      display: block

}
.blog-data{
    margin-left: 210px;
    margin-left: 20%;
    word-break: break-all;
    padding: 2%;
}

.blog-tag{
  float:left;
  padding-left:3%;
}