.backdrop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    background: rgba(0, 0, 0, 0.5);
    animation: appear 0.3s forwards;
    opacity: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}