header {
	width: 100%;
	height: 15vh;
	z-index: 10;
	top: 0;
	background: transparent;
}

#header-container {
	width: 87%;
	height: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#header-right ul {
	list-style: none;
	margin-top: -15px;
}


#header-right li {
	display: inline-block;
	margin-left: 0.7vw;
	font-weight: 500;
	color: var(--black);
}

.login {
	background: -webkit-gradient(linear, left top, left bottom, from(#8eb7f5), to(#40e1dc));
	background: -webkit-linear-gradient(#8eb7f5, #40e1dc);
	background: -o-linear-gradient(#8eb7f5, #40e1dc);
	background: linear-gradient(#8eb7f5, #40e1dc);
	border-radius: 5vw;
	color: white;
	-webkit-box-shadow: 2px 8px 25px rgba(0, 0, 0, 0.16);
	box-shadow: 2px 8px 25px rgba(0, 0, 0, 0.16);
	font-weight: 600;
	transition: all 0.2s;
}

.login:hover {
	box-shadow: 2px 8px 25px rgba(0, 0, 0, 0.25);
}

.profile {
	height: 4vw;
	vertical-align: middle;
	margin-top: -10px;
}

#header-right a:last-child {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 1vw 2vw;
}

@media only screen and (max-width: 1023px) {
    header {
		height: 12vh;
	}

	#header-container {
		width: 90%;
	}
}

@media only screen and (max-width: 524px) {

	header {
		height: 10vh;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		background-color: #353A43;
	}

	#header-container {
		width: 85%;
    }
    
    nav {
		display: none;
    }   
}

@media screen and (orientation: landscape) and (max-width: 812px) {

	header {
		height: 17vh;
	}

	nav {
		display: none;
    }   
}

@media only screen and (orientation: portrait) and (max-width: 1024px) and (min-width: 812px) {
	header {
		height: 10vh;
	}
}