@import "./helpers/_imports.css";

/* The nav-bar */
#nav {
    text-align: center;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

#back-button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

#back-button:hover, #back-button:focus {
    background: #745fb5;
}

#back-button:hover > #back, #back-button:focus > #back {
    fill: #fff;
}

#back {
    fill: var(--text);
    height: 17px;
    width: 17px;
}

#right {
    display: flex;
    align-items: center;
}

#right > a > img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#right > a:hover {
    opacity: 0.7;
}


/* Contents */
#contents {
    max-width: 740px;
    margin: 0 auto;
    padding: 0px 16px;
}

/* Header */
#header {
    margin: 32px 0px;
    text-align: center;
    color: var(--text);
    font-size: 14px;
}

#header > h1 {
    font-weight: 100;
    font-size: 50px;
}

#header > p {
    color: #678;
    margin: 17px 0;
}

#search {
    margin: 40px 0;
    box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
    text-align: left;
    width: 100%;
    display: flex;
    height: 68px;
}

#search > label {
    background-color: white;
    color: #678;
    padding: 16px 0px 16px 16px;
}

#cool {
    background-color: var(--background);
    padding: 3px 7px;
    box-shadow: 0 1px 1px rgba(102,119,136,.25);
}

#slash {
    font-size: 22px;
    margin: 0 7px;
}

#search > input {
    border: none;
    background: white;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.3px;
    flex-grow: 1;
}

input::placeholder {
    font-size: 19px;
    font-weight: 100;
    letter-spacing: 0.3px
}

.separator {
    height: 100px;
    width: 100%;
}

/* Lists */
#lists {
    margin: 32px 0px;
    text-align: center;
    color: var(--text);
    font-size: 14px;
}

/* Trending */
#trending h2 {
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.3px;
    color: var(--purple-hover);
    border-bottom: 1px solid rgba(102,119,136,.3);
    padding-bottom: 23px;
}

#trends {
    width: 100%;
    margin-top: 23px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#trends > a {
    text-decoration: none;
    display: block;
    color: #111;
    font-size: 14px;
    margin-bottom: 10px;
    flex: 0 50%;
}

.event:hover ~ .info {
    display: inline-block;
}

.live {
    margin-left: 10px;
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--live);
}

.info {
    margin-left: 10px;
    opacity: 0.7;
    color: var(--purple-hover);
    display: none;
}

/* Sections */
#sections h2{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.3px;
    color: var(--purple-hover);
    border-bottom: 1px solid rgba(102,119,136,.3);
    padding-bottom: 23px;
    margin-top: 40px;
}

#links {
    width: 100%;
    margin-top: 23px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#links > a {
    flex: 0 20%;
    text-decoration: none;
    margin: 4px;
    color: white;
    min-width: 155px;
    padding: 20px 0px 23px 20px;
    background: var(--purple-foreground-gradient);
    border-radius: 3px;
}

#links > a:hover {
    background: var(--purple-hover);
}

#links a:nth-child(3n){
    background: var(--green-foreground-gradient);
}

#links a:nth-child(3n):hover{
    background: var(--green-hover);
}

#links a:nth-child(3n+1){
    background: var(--grey-foreground-gradient);
}

#links a:nth-child(3n+1):hover{
    background: var(--grey-hover);
}

footer {
    max-width: 740px;
    margin: 0 auto;
    min-height: 300px;
    border-top: 1px solid rgba(102,119,136,.3);
    padding: 0 16px;
}

footer h2 {
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 13px 10px;
    background: var(--text);
    border-radius: 3px;
}


@media screen and (max-width: 480px) {

    #nav {
        border-bottom: 1px solid rgba(102,119,136,.3);
    }

    #container {
        height: 55px;
        padding: 0 14px 0 7px;
    }

    #back-button {
        height: 35px;
        width: 35px;
    }

    #search > label {
        display: none;
    }

    #search > input {
        padding-left: 20px;
    }

    #trends > a {
        flex: 0 100%;
    }

    #links > a {
        flex: 0 100%;
    }

    .separator {
        height: 10px;
    }
}