.resources-page-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 7vh;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 70vh;
}

.resources-page-header {
    width: 95%;
}

.resources-page-container h1 {
    font-size: 1.5em;
    padding-top: 7px;
}

.resources-page-container div {
    min-height: 100%;
    height: auto;
    display: block;
    font-size: 20px;
}

.backdrop-resource-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 15;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.resource-page-tags {
    margin-top: 1vh;
}

@media only screen and (min-width: 1024px) {
    .resources-page-container {
        margin: 2% auto;
        margin-bottom: 10%;
    }

    .resources-page-container h1 {
        font-size: 2.5vw;
        float: left;
    }

    .resources-page-header div {
        float: right;
    }    
}