header {
    width: 100%;
    height: 20vh;
    z-index: 10;
    top: 0;
    background: transparent;
}

#header-container {
    width: 87%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.ellipse {
    position: absolute;
    height: 25vh;
    z-index: -1;
}

#header-right ul {
    list-style: none;
}


#header-right li {
    display: inline-block;
    margin-left: 1vw;
    color: var(--black);
}

#header-right li:last-child {
    background: -webkit-gradient(linear,left top, left bottom,from(#8eb7f5),to(#40e1dc));
    background: -webkit-linear-gradient(#8eb7f5,#40e1dc);
    background: -o-linear-gradient(#8eb7f5,#40e1dc);
    background: linear-gradient(#8eb7f5,#40e1dc);
    border-radius: 5vw;
    color: white;
    -webkit-box-shadow: 2px 8px 25px rgba(0, 0, 0, 0.16);
            box-shadow: 2px 8px 25px rgba(0, 0, 0, 0.16);
    font-weight: 600;
}

#header-right a:last-child {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1vw 2vw;
}

main {
    width: 100%;
}

footer {
    width: 100%;
    bottom: 0;
    height: 25vh;
    position: relative;
    background: url('../../assets/images/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


#footer-container {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important;
    padding-top: 7vh;
    position: relative;
}

#footer-links-container {
    position: absolute;
    right: 0;
    margin-top: -20px;
}

.footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 8px 18px rgba(0, 0, 0, 0.16);
            box-shadow: 2px 8px 18px rgba(0, 0, 0, 0.16);
    margin: 7px;
    height: 2.3vw;
    width: 7vw;
    background: var(--black);
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-link img {
    width: 60%;
    margin-right: 5px;
}


#claim {
    text-align: center;
    opacity: 0.7;
    position: absolute;
    bottom: 2vh;
    left: 40%;
}

#claim p {
    font-size: 1.2em;
}

.side-links-container {
    position: fixed;
    top: 45%;
    left: 0px;
}


.side-link {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
    margin-top: 25px;
    background: var(--black);
    -webkit-box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.16);
            box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.16);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.side-link:hover {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.side-link a {
    display: block;
    padding: 25px 30px 25px 70px;
}

.side-link img {
    width: 32px;
}

@media only screen and (min-width: 2000px) {

    #header-right li {
        font-size: 2rem;
    }

    .footer-link img {
        width: 70%;
        margin-right: 20px;
    }

    .side-links-container {
        -webkit-transform: scale(0.4) translateX(-90px);
            -ms-transform: scale(0.4) translateX(-90px);
                transform: scale(0.4) translateX(-90px);
        top: 25%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1940px) {

    #footer-links-container {
        margin-top: -10px;
    }

    .footer-link {
        border-radius: 4px;
        font-size: 0.8em;
        letter-spacing: 0px;
        font-size: 0.6em;
    }

    .footer-link img {
        width: 50%;
        margin-right: 0;
    }

    #claim p {
        font-size: 0.7em;
    }

    .side-links-container {
        -webkit-transform: scale(0.4) translateX(-90px);
            -ms-transform: scale(0.4) translateX(-90px);
                transform: scale(0.4) translateX(-90px);
        top: 25%;
    }

    .side-link:hover {
        -webkit-transform: translateX(-50px);
            -ms-transform: translateX(-50px);
                transform: translateX(-50px);
    }
}

@media only screen and (max-width: 1023px) {

    header {
        height: 12vh;
    }

    #header-container {
        width: 90%;
    }

    .footer-link {
        border-radius: 4px;
        font-size: 1vh;
        height: 2.5vh;
        width: 8vh;
        letter-spacing: 0px;
    }

    footer {
        height: 125px;
    }
    
    #footer-container {
        padding-top: 4%;
    }

    #claim {
        left: 35%;
    }

    #claim p {
        font-size: 0.5em;
    }

    .side-links-container {
        -webkit-transform: scale(0.3) translateX(-160px);
            -ms-transform: scale(0.3) translateX(-160px);
                transform: scale(0.3) translateX(-160px);
        top: 25%;
    }

    .side-link:hover {
        -webkit-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
                transform: translateX(-40px);
    }

}

@media only screen and (max-width: 480px) {

    header {
        height: 10vh;
    }

    #header-container {
        width: 85%;
    }

    .ellipse {
        display: none;
    }

    nav {
        display: none;
    }

    footer {
        background: #eee;
        min-height: 20vh;
    }

    .footer-background {
        display: none;
    }

    #footer-container {
        padding-top: 3vh;
    }

    .footer-link {
        margin-top: 0px;
        border-radius: 2px;
        font-size: 0.5em;
        height: 3vh;
        width: 9vh;
        text-align: center;
        letter-spacing: 0px;
        padding-right: 5px;
    }

    .footer-link img {
        width: 30%;
    }

    #claim {
        left: 0%;
        text-align: left;
    }

    #claim p {
        font-size: 0.6em;
    }

}

@media screen and (orientation: landscape) and (max-width: 812px) {
    
    header {
        height: 17vh;
    }

    nav {
        display: none;
    }

    #footer-links-container {
        bottom: 0px;
    }

    .footer-link {
        margin-top: 7px;
        border-radius: 3px;
        font-size: 1vw;
        height: 2vw;
        width: 7.5vw;
        letter-spacing: 0px;
    }

    .footer-link img {
        width: 40%;
        margin-right: 0;
    }

    #claim p {
        font-size: 0.5em;
    }

    .side-links-container {
        -webkit-transform: scale(0.3) translateX(-160px);
            -ms-transform: scale(0.3) translateX(-160px);
                transform: scale(0.3) translateX(-160px);
        top: 15%;
    }

    .side-link:hover {
        -webkit-transform: translateX(-40px);
            -ms-transform: translateX(-40px);
                transform: translateX(-40px);
    }
}