:root {
  --black: #111;
  --theme: #678;
  --background: #F1F3F5;
  --blue: #00BFED;
  --light-green: #00D7C5;
  --purple: #AD1DE6;
  --bg-black: #303E4B;
  --yellow: #E99523;
  --red: #D81C60;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: -moz-none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: var(--black);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  outline: 1px solid var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
