.card-link {
    margin: 1%;
    height: 33vh;
    display: inline-block;
    text-align: center;
}


.card-link-button, .card-link-button:visited {
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
            box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    height: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    width: 21vw;
    font-size: 1.4vw;
    float: left;
    transform: scale(0.9);
}

.card-link-button p {
    margin-top: 20px;
    max-width: 70%;
}

.card-link img {
    width: 20%;
}

.card-link-button:hover, .card-link-button:focus {
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.25);
            box-shadow: 2px 4px 8px 0 rgba(46,61,73,.25);
}

@media only screen and (max-width: 1024px) {

    .card-link-button {
        border-radius: 8px;
        transform: scale(1);
    }

    .card-link-button p {
        margin-top: 0;
    }

    .card-link-button img {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
    }
}

@media only screen and (max-width: 768px) {

    .card-link {
        height: 21vw;
        margin: 2vw;
    }

    .card-link-button {
        font-size: 1.4vh;
        border-radius: 8px;
    }

    .card-link-button p {
        margin-top: 0;
    }

    .card-link-button img {
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6);
    }
}

@media only screen and (max-width: 480px) {
    
    .card-link {
        height: 18vw;
        margin: 3.5vw;
    }
    
    .card-link-button {
        width: 75vw;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 0 0 25px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        font-size: 3.8vw !important;
        text-align: left;
        border-radius: 6px;
    }

    .card-link-button p {
        max-width: 70%;
    }

    .card-link-button img {
        -webkit-transform: scale(0.3);
            -ms-transform: scale(0.3);
                transform: scale(0.3);
    }
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
    .card-link-button {
        font-size: 1.5vw;
    }
}