.blog-page-container {
    width: 100%;
    min-height: 55vh;
    text-align: center;
    box-sizing: border-box;
}

.blog-container {
    height: 21vh;
    width: 100%;
    min-height: 90%;
    text-align: center;
    display: table;
}

.blog-background{
  background: #262626;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.blog-h1{
    margin:0;
    background: #303030;
    vertical-align:middle;
    display:table-cell; 
}

.blog-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4vh 5vw;
    padding-bottom: 10vh;
}
